div {
    margin-bottom: 30px;
}

Strong {
    color:black;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 99.1%;
    height: 60px;
    background: midnightblue;
}

a:hover {
    color: lightskyblue;
}

h1, h2, p, q, Strong, ul {
    color: white;
}

body {
    background-image: url("lofigirl.jpg");
    background-size: cover;
}

#footerText {
    margin-left: 5px;
}

#newSong {
    color: white;
}